<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leeandjosh.restauranttemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/papa_icon">
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="com.leeandjosh.restauranttemplate.MainScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/menu_label" 
            android:theme="@style/CustomTheme">
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>
        <activity
            android:name=".ContactActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_label" 
            android:theme="@style/CustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>
        <activity
            android:name=".DirectionsActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme">
        </activity>
        <activity
            android:name=".CheckoutActivity"
            android:label="@string/checkout_label"
            android:theme="@style/CustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".DeliveryActivity"
            android:label="@string/delivery_label"
            android:theme="@style/CustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CheckoutActivity" />
        </activity>
        <activity
            android:name=".OrderPlacedActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme">
        </activity>
    </application>

</manifest>